<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SoenderBoP.Properties.Settings.soenderbodbConnStr"
            connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=soenderbodb;Persist Security Info=True;User ID=soenderbodb;Password=Ju7XZj_8pI2_"
            providerName="System.Data.SqlClient" />
        <add name="SoenderBoP.Properties.Settings.ConnectionString" connectionString="Data Source=den1.mssql7.gear.host;User ID=soenderbodb;Password=password!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>